body{top: 0;
padding: 0;
margin: 0;
background-color: rgb(164, 35, 164);
color: white;
}

form{ margin: 0 auto;
    margin-top: 10px;
width: 500px;
padding: 20px;
background-color: rgb(61, 61, 228);
border-radius: 10px;
box-shadow: 2px 2px 2px black;}
button{margin-left: 745px;
margin-top: 30px;
padding: 5px;
border: none;
background-color: blue;
color: white;
border-radius: 10px;
box-shadow: 2px 2px 2px black;}
button:hover{
    transform: scale(1.2);
    transition: 1.5s;
}
header{text-align: center;}
h3{text-align: center;}
button a{
    text-decoration: none;
    color: white;
}