body{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; background-color: black; color: white;}
h2{text-align: center;}
.logo{margin: 0 auto;
width:  150px;}
img{ 
    display: block;
}
b{
    display: block
}

div{
    display: inline-block;
    margin: 40px;
}
div:hover{
        transform: scale(1.2);
        transition: 3s;
    
}



#login:hover {
    transition: 2s;
    transform: scale(1.2);
    
}
button{
    background-color: blue;
    padding: 8px;
    color: white;
    border-radius: 10px;
    border: none;
    

}

#sobre:hover {
    transition: 2s;
    transform: scale(1.2);
}


section{
    display: flex;
justify-content: space-around;}

footer{
    width: 98%;
    margin-top: 200px;
    text-align: center;

}

